<div id="login">
  <div class="row">
<div class="col-md-6" id="logoLogin">
<img src="IMG/logo.png" alt="" width="150px;">
</div>
  </div>
  <div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
<input id="userLogin" type="text" class="form-control" name="user" placeholder="User" [(ngModel)]="user">
</div>
<div class="input-group">
<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
<input id="passLogin" type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="pass">
</div>
<div class="row">
<div class="col-md-12">
<button type="button" name="button" class="btn btn-primary" onclick="logIn();">Login</button>
</div>
  </div>


  </div>