.warning{
    color: #155724;
    background-color: #eb1515;
    border-color: #c3e6cb;
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display:block;
}
.success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: fixed;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    display:block;
    width: 70%;
    margin-left:15%;
}